* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #333;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    padding: 0 20px;
}

.navbar-logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar-menu {
    display: flex;
    list-style: none;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-links {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar-links:hover {
    color: #f39c12;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 4px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

@media screen and (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .navbar-menu.active {
        background-color: #333;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .navbar-item {
        margin: 20px 0;
    }

    .navbar-toggle {
        display: flex;
    }
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(135, 135, 252);
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form-control {
    width: 50%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}

.button{
    background-color: #011e44;
    border-radius: 5px;
    height: 50px;
    width:200px;
    margin-left: 25%;
    margin-right: 25%;
    font-weight: 700;
    font-size: large;
    color: #ccc;
}
label{
    margin-left:20%
}
footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-logo {
    width: 30px;
    height: 30px;
}


.medium{
    font-size: 30px;
}
.styleForm{
    margin-bottom: 55px;
}
#time{
    color:red;
    align-items: center;
    display: flex;
    justify-content: center;
}


